# Standalone Maverick POC Server Configuration
PORT=8002
INAVATE_API_URL=api_url_placeholder
INAVATE_CLIENT_ID=client_id_placeholder 
INAVATE_CLIENT_SECRET=client_secret_placeholder
INAVATE_MERCHANT_ID=merchant_id_placeholder
INAVATE_LOCATION_ID=location_id_placeholder